<div class="container">
  <div class="breadcrumb">
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
      <li>
        <a href="/"><i class="home"></i>Главная</a>
      </li>
      <li>
        <a href="/catalogue/">Каталог</a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/catalogue/osveshchenie/" itemprop="item" target=""><span itemprop="name">Освещение</span>
        <meta content="1" itemprop="position"></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/catalogue/osveshchenie/osveshchenie_dlya_pomeshcheniy_i_aksessuary/" itemprop="item" target=""><span itemprop="name">Освещение для помещений и аксессуары</span>
        <meta content="2" itemprop="position"></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/catalogue/osveshchenie/osveshchenie_dlya_pomeshcheniy_i_aksessuary/lyustry/" itemprop="item" target=""><span itemprop="name">Люстры</span>
        <meta content="3" itemprop="position"></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span>Подвес Дюна 1xE27x60 Вт, металл/стекло, цвет белый</span></li>
    </ul>
  </div>

  <div class="white-bg border-up">
    <a href="/" class="back-from-reviews">Назад</a>
  </div>

  <div>
    <h1 style="margin-top: 20px">Сублимационные чернила 100мл, 4 цвета</h1>
  </div>

  <div style="margin-top: 15px">
    <ng-owl-carousel class="owl-theme product-carousel" owl-items="vm.sliderItems" owl-properties="vm.sliderProperties" style="margin-top: 15px">
      <div ng-repeat="item in vm.sliderItems">
        <img src="{{item}}" style="height: 340px; display: block;">
      </div>
    </ng-owl-carousel>
  </div>

</div>
