
<div class="container">
  <img src="http://teplitsa-plus.ru/images/stories/tsvetnoj-polikarbonat.jpg" style="width: 100%; height: 380px; display: block">
</div>

<div class="container">
  <nav class="fp-menu">
    <ul>
      <li class="catalog-link" data-portal-link="">
        <a ui-sref="app.categories">Каталог товаров</a>
      </li>
      <li>
        <a href="/shop/"><i class="loc"></i> Магазины</a>
      </li>
      <li>
        <a href="/shopping_list/"><i class="list"></i> Список покупок</a>
      </li>
      <li>
        <a href="/service/"><i class="services"></i> Услуги</a>
      </li>
      <li>
        <a href="/partner/"><i class="hands"></i> Поставщикам</a>
      </li>
    </ul>
  </nav>

  <div class="fp-social">
    <a class="fb" href="https://www.facebook.com/LeroyMerlinRussia?fref=ts" target="_blank">Facebook</a> 
    <a class="ok" href="http://www.odnoklassniki.ru/leroymerlin" target="_blank">Odnoklassni</a> 
    <a class="vk" href="http://vk.com/leroy_merlin" target="_blank">Vkontakte</a>
    <a class="yout" href="http://www.youtube.com/user/LeroyMerlinRu?sub_confirmation=1" target="_blank">YouTube</a>
  </div>

  <div class="subscribe-small-wrapper">
    <div class="ng-scope">
      <form class="fullwidth-form subscribeSmall-form" id="forms.subscribeSmall">
        <div class="subscribe-small-title">
          Подпишитесь на рассылку
        </div>
        <div class="row">
          <div class="one-half">
            <div class="fixed-label">
              <input id="email" name="email" placeholder="Введите Ваш E-mail" required="required" type="email">
            </div>
          </div>
          <div class="one-half">
            <button class="btn btn-high fullwidth-btn gray-btn" type="submit"><img class="subscribe-icon" src="/images/letter.png">Подписаться</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="one-half">
      <a class="btn btn-high fullwidth-btn green-btn" href="/company-menu/">О компании</a>
    </div>
    <div class="one-half">
      <a class="btn btn-high fullwidth-btn green-btn" href="/contact-menu/">Контакты</a>
    </div>
  </div>
</div>
