
<div class="container">
  <div class="breadcrumb">
    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li><a href="/"><i class="home"></i>Главная</a></li>
      <li><a href="/catalogue/">Каталог</a></li>
    </ul>
  </div>

  <div class="products-sorting-line">
      <div class="row">
        <div class="two-third">
          <div class="dropdown-select">
            <div class="select-current ng-binding" data-ng-bind="model.list.sort.name">
              Рекомендуем
            </div>
            <ul class="select-options" style="display: none;">
              <!-- ngRepeat: sortItem in model.sort track by $index -->
              <li class="ng-binding ng-scope" data-ng-bind="sortItem.name" data-ng-click="setSort(sortItem)" data-ng-repeat="sortItem in model.sort track by $index">Рекомендуем</li><!-- end ngRepeat: sortItem in model.sort track by $index -->
              <li class="ng-binding ng-scope" data-ng-bind="sortItem.name" data-ng-click="setSort(sortItem)" data-ng-repeat="sortItem in model.sort track by $index">Цена по возрастанию</li><!-- end ngRepeat: sortItem in model.sort track by $index -->
              <li class="ng-binding ng-scope" data-ng-bind="sortItem.name" data-ng-click="setSort(sortItem)" data-ng-repeat="sortItem in model.sort track by $index">Цена по убыванию</li><!-- end ngRepeat: sortItem in model.sort track by $index -->
              <li class="ng-binding ng-scope" data-ng-bind="sortItem.name" data-ng-click="setSort(sortItem)" data-ng-repeat="sortItem in model.sort track by $index">Название по возрастанию</li><!-- end ngRepeat: sortItem in model.sort track by $index -->
              <li class="ng-binding ng-scope" data-ng-bind="sortItem.name" data-ng-click="setSort(sortItem)" data-ng-repeat="sortItem in model.sort track by $index">Название по убыванию</li><!-- end ngRepeat: sortItem in model.sort track by $index -->
            </ul>
          </div>
        </div>
        <div class="one-sixth">
          <div class="active" data-ng-class="model.list.view!='tiled'?'active':''" data-ng-click="setView(null)" id="view-list">
            <span></span>
          </div>
        </div>
        <div class="one-sixth">
          <div class="" data-ng-class="model.list.view=='tiled'?'active':''" data-ng-click="model.list.view=setView('tiled')" id="view-tile">
            <span></span> <span></span>
          </div>
        </div>
      </div>
    </div>

  <div class="products-container">
    <div ng-include src="product-one-row.html'"></div>
  </div>

</div>
