.product-container {
  padding: 0 10px;
  .products-list-item {
    a.products-list-item-title {
      text-align: center;
      padding-left: 0;
      display: block;
      margin-bottom: 15px;
      @include susy-breakpoint($bp-medium) {
        margin-bottom: 10px;
        margin-top: 0;
        float: left;
        float: right;
        width: calc(100% - 180px);
        text-align: left;
      }
      @include susy-breakpoint($bp-large) {
        width: calc(100% - 240px);
      }
    }
    .products-list-item-image {
      display: block;
      // width: 100%;
      width: auto;
      margin-bottom: 15px;
      img {
        width: 70%;
        margin: 0 auto;
      }
      @include susy-breakpoint($bp-medium) {
        width: 180px;
        float: left;
      }
      @include susy-breakpoint($bp-large) {
        margin-bottom: 20px;
        width: 240px;
        float: left;
      }
    }
    .products-list-item-description {
      @include susy-clearfix();
      float: left;
      @include susy-breakpoint($bp-medium) {
        float: none;
        width: auto;
        padding-left: 0;
      }
    }
  }
}
