.product-container {
  padding: 0 10px;
  .products-list-item {
    a.products-list-item-title {
      text-align: center;
      padding-left: 0;
      display: block;
      @include susy-breakpoint($bp-medium) {
        margin-top: 0;
        width: calc(100% - 240px);
        text-align: left;
        padding-left: 15px;
      }
    }
    .products-list-item-image {
      display: block;
      width: 100%;
      float: left;
      img {
        width: 70%;
        margin: 0 auto;
      }
      @include susy-breakpoint($bp-medium) {
        width: 180px;
        float: none;
      }
      @include susy-breakpoint($bp-large) {
        width: 240px;
        float: none;
      }
    }
    .products-list-item-description {
      width: 100%;
      float: left;
      @include susy-clearfix();
      @include susy-breakpoint($bp-medium) {
        padding-left: 0;
        float: left;
      }
      @include susy-breakpoint($bp-large) {
        padding-left: 0;
        float: none;
      }
      display: block;
      p {
        float: left;
        height: auto;
      }
    }
  }
}
