
@import "leroy.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700);

body {
  background: #e1e1e1;
  font-family: "Roboto" !important;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
}