@import "~susy";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,900);

$susy: (
  columns: 12,
);

$bp-medium: 760px;
$bp-large: 1100px;

@import "_breadcrumbs";
@import "_plugins";
@import "layout";
@import "_main-page";
@import "_products-list";
@import "_product";
@import "_helpers";
// @import "leroy.scss";

body {
  background: #f1f1f1;
  font-family: "Roboto" !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
}