@import "~susy";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,900);

$susy: (
  columns: 12,
);

$bp-medium: 560px;
$bp-large: 1100px;

@import "_header";
@import "_main-page";


.container {
  @include container(100%); 
  @include susy-breakpoint($bp-medium) {
    @include container(760px);    
  } 
  @include susy-breakpoint($bp-large) {
    @include container(960px);    
  }

}

body {
  background: #f1f1f1;
  font-family: "Roboto" !important;
}

a {
  text-decoration: none;
}

.owl-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.owl-dot {
  background: transparent !important;
}
.owl-dot span {
  // border: solid 2px #66c05d;
  background: rgba(255,255,255, .8) !important;
}

.owl-dot.active span {
  background: rgba(50,50,50,.5) !important;
}

