<div class="container" style="margin-top: 15px">
  <ng-owl-carousel class="owl-theme" owl-items="vm.sliderItems" owl-properties="vm.sliderProperties" style="margin-top: 15px">
    <div ng-repeat="item in vm.sliderItems">
      <img src="{{item}}" style="height: 340px; display: block;">
    </div>
  </ng-owl-carousel>
</div>

<div class="container">
  <nav class="fp-menu">
    <ul>
      <li class="catalog-link" data-portal-link="">
        <a ui-sref="app.catalog">Каталог товаров</a>
      </li>
      <li>
        <a><i class="loc"></i>Контакты</a>
      </li>
      <li>
        <!-- <a><i class="list"></i>Список покупок</a> -->
      </li>
      <li>
        <a><i class="services"></i>Услуги</a>
      </li>
      <li>
        <a><i class="hands"></i>Производители</a>
      </li>
    </ul>
  </nav>

  <div class="fp-social">
    <a class="fb" href="https://www.facebook.com/LeroyMerlinRussia?fref=ts" target="_blank">Facebook</a>
    <a class="ok" href="http://www.odnoklassniki.ru/leroymerlin" target="_blank">Odnoklassni</a>
    <a class="vk" href="http://vk.com/leroy_merlin" target="_blank">Vkontakte</a>
    <a class="yout" href="http://www.youtube.com/user/LeroyMerlinRu?sub_confirmation=1" target="_blank">YouTube</a>
  </div>

  <div class="subscribe-small-wrapper">
    <div class="ng-scope">
      <form class="fullwidth-form subscribeSmall-form" id="forms.subscribeSmall">
        <div class="subscribe-small-title">
          Подпишитесь на рассылку
        </div>
        <div class="row">
          <div class="one-half">
            <div class="fixed-label">
              <input id="email" name="email" placeholder="Введите Ваш E-mail" required="required" type="email">
            </div>
          </div>
          <div class="one-half">
            <button class="btn btn-high fullwidth-btn gray-btn" type="submit"><img class="subscribe-icon" src="/images/letter.png">Подписаться</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="one-half">
      <a class="btn btn-high fullwidth-btn green-btn" href="/company-menu/">О компании</a>
    </div>
    <div class="one-half">
      <a class="btn btn-high fullwidth-btn green-btn" href="/contact-menu/">Контакты</a>
    </div>
  </div>
</div>
