
<div class="container">
  <div class="breadcrumb">
    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li><a href="/"><i class="home"></i>Главная</a></li>
      <li><a href="/catalogue/">Каталог</a></li>
    </ul>
  </div>

  <div class="products-sorting-line">
      <div class="row">
        <div class="two-third">
          <div class="dropdown-select" ng-click="vm.showSortDropdown = !vm.showSortDropdown">
            <div class="select-current">
              Рекомендуем
            </div>
            <ul class="select-options" ng-show="vm.showSortDropdown">
              <li>Цена по возрастанию</li>
              <li>Цена по убыванию</li>
              <li>Название по возрастанию</li>
              <li>Цена по убыванию</li>

            </ul>
          </div>
        </div>
        <div class="one-sixth">
          <div id="view-list" ng-class="{active: vm.view === 'row'}" ng-click="vm.view = 'row'">
            <span></span>
          </div>
        </div>
        <div class="one-sixth">
          <div id="view-tile" ng-class="{active: vm.view === 'grid'}" ng-click="vm.view = 'grid'">
            <span></span><span></span>
          </div>
        </div>
      </div>
    </div>

  <div class="products-container" ng-class="{tiled: vm.view === 'grid'}">
    <div ng-include ng-include-replace src="'components/products-list/templates/product-one-row.html'"></div>
    <div ng-include ng-include-replace src="'components/products-list/templates/product-one-row.html'"></div>
    <div ng-include ng-include-replace src="'components/products-list/templates/product-one-row.html'"></div>
    <div ng-include ng-include-replace src="'components/products-list/templates/product-one-row.html'"></div>
  </div>

</div>
