<a class="products-item">
  <div class="product-item-inner">
    <div class="pl-img">
      <img src="http://s.leroymerlin.ru/upload/catalog/img/6/a/17346366/128x128/17346366.jpg?v=8">
    </div>
    <div class="pl-info">
      <div class="pl-name">Шпаклёвка полимерная финишная, 5 кг</div>
      <div class="pl-price">
        <p class="item-price">
          <!-- <span style="font-size: 16px; font-weight: 600; text-transform">Цена:</span> -->
          <span class="amount">154,00</span>
          <span>лей</span>
        </p>
        <!-- <div class="rating-container">
          <div class="rating-container theme-krajee-fa rating-sm rating-animate rating-disabled">
            <div class="clear-rating" title="Clear">
              <i class="glyphicon glyphicon-minus-sign"></i>
            </div>
            <div class="rating">
              <span class="empty-stars">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
              </span>
              <span class="filled-stars" style="width: 60%;">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</a>
